{% extends "base.html" %}
{% load static %}

{% block container %}

<body>
	
	<div class="container">

		<div class="row">

            <div class="col-sm-12"><h1 class="my-5 text-center text-primary mb-2">Segurança da Informação</h1></div>

            <div class="col-sm-6">

                <div class="text-left">

                   <p>Oi, vamos falar de segurança de informação?</p>

                   <p>Segurança da informação são recursos e mecanismos utilizados para proteger sistemas, dados e informações contra o acesso indevido, o ataque de cibercriminosos (Hackers) e o uso impróprio, assim como para prevenir a perda ou o sequestro de dados de empresas e dados pessoal e roubo de informações é crime.</p>

                   <p>Como você se sente sabendo que pode sofre um ataque a qualquer momento?</p>

                   <p>Você se sente Seguro navegando na Web?</p>

                   <p>Caso você seja atacado, você sabe oque fazer? Sabe como se prevenir?  Não?  Aqui nós iremos te ajudar ou pelo menos tentar!</p>
               </div>
           </div>

           <div class="col-sm-6">

            <div class="text-center my-3">

              <img src="{% static 'assets/img/slide-04.jpeg' %}" alt="..." class="rounded">

          </div>
      </div>
      <div class="row text-center mt-5">
        <div class="shadow-none p-3 mb-5 bg-light rounded">

          <div class="col-sm-12 text-success ">
            <h4 class="text-primary">Lista de melhores colocados</h4>
            
            <ul class="list-inline">
              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-01.jpg' %}" alt="..." class="rounded mr-3"><br>Antônio<br>100pts</span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-03.jpg' %}" alt="" class="rounded mx-3"><br>Jose Carlos<br>90pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-02.jpg' %}" alt="" class="rounded mx-3"><br>Guilherme<br>85pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-05.jpg' %}" alt="" class="rounded mx-3"><br>Jair<br>80pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-02.jpg' %}" alt="" class="rounded mx-3"><br>Geraldo<br>75pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-03.jpg' %}" alt="" class="rounded mx-3"><br>Ismael<br>75pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-03.jpg' %}" alt="" class="rounded mx-3"><br>Fernando<br>70pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-05.jpg' %}" alt="" class="rounded mx-3"><br>Marina<br>70pts</img></span></li>

              <li class="list-inline-item"><span class="border border-light"><img style="width: 80px;" src="{% static 'assets/img/face-06.jpg' %}" alt="" class="rounded ml-3"><br>Kátia<br>70pts</img></span></li>
    
          </ul>
    <div class="text-right" >
        <a class="text-dark" href="netquest">Faça o Teste...</a>
    </div>
</div>
</div>
</div>
<div class="col-sm-12 text-center my-5">
    <h1 class="text-primary">Você se sente protegido</h1>
    <div class="row">
        <div class="col-sm-6 text-left">
          <h3 class="h3 mb-3">Expectativa</h3>
          <p>ndústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,</p><span class="border border-light"></span>
          <p> como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a</p>
      </div>
      <div class="col-sm-6 text-right">
          <h3 class="h3 mb-3">Realidade</h3>
          <p>o sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível.</p><span class="border border-light"></span>
          <p> Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda e</p>
      </div>
  </div>
</div>

</div>
</div>





</body>
{% endblock %}