{% extends "base.html" %}
{% load static %}

{% block container %}
<body>
	<div class="container">
			
		<div class="row justify-content-sm-center">
			
			<h2 class="mt-3">Para realizar o teste, registri-se por favor.</h2>

			<div class="col-sm-6">

				<div class="card mt-5 mb-5">

					<div class="card-body text-left">

						<h4 class="card-title"><b>Se já é registrado acesse:</b></h4>

						<form class="ajuste" action="{% url 'login' %}" method="POST">
							{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-12">
								  <label>Usuario</label>
								  <input type="text" class="form-control" name="username" placeholder='Usuario'>
								</div>
								<div class="form-group col-md-12">
								  <label>Password</label>
								  <input type="password" class="form-control" name="password" placeholder="*****">
								</div>
							</div>
								
								<button type="submit" class="btn btn-primary mr-5">Entrar</button>
								<a class="ml-5 text-left" href="cadastro">Ainda não é Cadastrado?</a>
							</fieldset>
						</form>


					</div>

				</div>

			</div>



		</div>

	</div>
</body>
{% endblock %}