{% extends "base.html" %}
{% load static %}

{% block container %}

<body>
	
	<div class="container">

		<div class="row">

			<div class="col-sm-11 text-center my-5">

				<h1 class="text-primary">Questionario de Segurança</h1>

			</div>

			<div class="col-sm-1 text-right">

				<a class="text-dark" href="{% url 'logout' %}">Logout</a>

			</div>

		</div>

		<div class="row">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck1">
			  	<label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
			</div>
		</div>

			<div>
				<button type="button" class="btn btn-primary btn-lg btn-block">Enviar Questionario</button>
			</div>

	</div>

	
</body>
{% endblock %}