{% extends "base.html" %}
{% load static %}

{% block container %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form class="ajuste my-5" action="{% url 'netquest' %}" method="GET">
					{% csrf_token %}
					<fieldset>
						{% for field in form %}
						<div class="form-group ">
							{{ field.label_tag }}
							 <label></label>
							 {{ field.content | linebreaks }}
							{{ field.errors}}
						</div>
						{% endfor %}
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}