{% extends "base.html" %}
{% load static %}

{% block container %}

<body>
	
	<div class="container">

		<div class="row">


			<div class="col-sm-12 text-center my-5">

				<h1 class="text-primary">Questionario de Segurança</h1>

			</div>

			<div class="col-sm-12 mb-5">

				<div class="dropdown">
				  <button class="text-left btn btn-success btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <label>01) Aqui uma pergunta muito cabulosa?</label>
				  </button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    
					<div class="form-check mb-2 mx-4">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    Aqui uma resposta ainda mais cabulosa para a pergunta
					  </label>
					</div>

					<div class="form-check mb-2 mx-4">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					  <label class="form-check-label" for="defaultCheck2">
					    Aqui uma resposta ainda mais cabulosa para a pergunta
					  </label>
					</div>

					<div class="form-check mx-4 mb-2">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					  <label class="form-check-label" for="defaultCheck2">
					    Aqui uma resposta ainda mais cabulosa para a pergunta
					  </label>
					</div>

					<div class="form-check mb-2 mx-4">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					  <label class="form-check-label" for="defaultCheck2">
					    Aqui uma resposta ainda mais cabulosa para a pergunta
					  </label>
					</div>

				  </div>

				</div>
				
			</div>



			<div class="col-sm-12 mb-5">

				<label>02) Aqui uma pergunta muito cabulosa?</label>

				<div class="input-group mb-3">

				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

					
				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>



				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

				</div>

			</div>


			<div class="col-sm-12 mb-5">

				<label>03) Aqui uma pergunta muito cabulosa?</label>

				<div class="input-group mb-3">

				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

					
				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>



				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

				</div>

			</div>



			<div class="col-sm-12 mb-5">

				<label>04) Aqui uma pergunta muito cabulosa?</label>

				<div class="input-group mb-3">

				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

					
				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>



				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

				</div>

			</div>




			<div class="col-sm-12 mb-5">

				<label>05) Aqui uma pergunta muito cabulosa?</label>

				<div class="input-group mb-3">

				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

					
				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>



				  <div class="input-group-prepend col-sm-8 mb-3">

				    <div class="input-group-text">

				      <input type="checkbox" aria-label="Checkbox for following text input">

				    </div>

				    <label class="ml-3 mt-1">Aqui uma resposta ainda mais cabulosa para a pergunta</label>

				  </div>

				</div>

			</div>


			<div>
				<button type="button" class="btn btn-primary btn-lg btn-block">Enviar Questionario</button>
			</div>

		</div>
	</div>

	
</body>
{% endblock %}